/* ./src/styles.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* 
@font-face {
    font-family: 'Chivo';
    font-style: normal;
    font-weight: 400;
    src: url(path/to/Chivo-Regular.woff2)
  } */